h1 {
    text-align: center;
  }
  
  img {
    opacity: 0.8;
  }
  
  .container {
    position: relative;
    text-align: center;
  }

  
  .C {

  }
  .D {

  }
  .E {

  }
  .F {

  }
  .G {

  }
  .A {

  }
  .H {

  }