h1 {
    text-align: center;
  }
  
  img {
    opacity: 0.8;
  }
  
  .container {
    position: relative;
    text-align: center;
  }

  
  .C {
    position: absolute;
    bottom: 20px;
    left: 740px;
    font-size: 50px;
  }
  .D {
    position: absolute;
    bottom: 20px;
    left: 920px;
    font-size: 50px;
  }
  .E {
    position: absolute;
    bottom: 20px;
    left: 1090px;
    font-size: 50px;
  }
  .F {
    position: absolute;
    bottom: 20px;
    left: 1250px;
    font-size: 50px;
  }
  .G {
    position: absolute;
    bottom: 20px;
    left: 1420px;
    font-size: 50px;
  }
  .A {
    position: absolute;
    bottom: 20px;
    left: 1600px;
    font-size: 50px;
  }
  .H {
    position: absolute;
    bottom: 20px;
    left: 1770px;
    font-size: 50px;
  }